.small{
    width: 250px;
    height: 100px;
    background-color: #52BD7F;
    float: left;
    color: #f5f5f5;
    border: 1px solid #fff;
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
    border-radius:5px; 

}

.medium{
    width: 505px;
    height: 100px;
    background-color: #52BD7F;
    float: left;
    color: #f5f5f5;
    border: 1px solid #fff;
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
    border-radius:5px;  
}

.small a{
    color: #f5f5f5;
    display: inline-block;
    width: 120px;
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
}

.medium a{
    color: #f5f5f5;
    display: inline-block;
    width: 120px;
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
}
#cart{
    width: 250px;
    float: left;
    margin-top: 50px;
    font-family: 'Lato', sans-serif;
    font-weight:300; 
    
}
#cart li a{
    color: #379B4A;
    text-decoration: none;
    width: 20px;
}
#cart li{
    list-style-type: none;
    margin-left:-40px;
    border-bottom: 1px dashed #379B4A; 
    border-top: 1px dashed #379B4A; 
        
}

#cart div a{
    color: #f5f5f5;
    background-color: #52BD7F;
    display: block;
    width: 200px;
    height: 30px;
    text-align: left;
    margin: 2px;
    text-decoration: none;
    font-size: 18px;
    line-height: 2;
    border-radius:3px;
    text-align: center; 
}