#nav{
    color:white;
    text-transform:capitalize;
    text-align:center;
    font-size:24px;
    background-color: #3f3f3f;
    color: #f5f5f5;
    font-weight:400; 
    position: relative;
    top: -25px;
    height: 30px;  
}
#nav ul{
    list-style-type:none;
}
#nav ul a{
	white-space:nowrap;
    display:table-cell;
    vertical-align:middle;
    height:30px;
    width:220px;
    text-decoration:none;
}
#nav li{
    float:left;    
    height:50px;
    width:230px;
    
}
#nav ul a:hover{
    background-color: #f5f5f5;
    color: #379B4A;
}
#nav a:link ,#nav a:visited{
    color:#f5f5f5;
}
#nav a:active{
background-color:#333;
}
#nav li > ul{
    display:none;
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: ease;
}
#nav li:hover > ul{
    display:block;
    height: 150px;
    width: 983px;
    border-left: 1px solid #379B4A;
    border-right: 1px solid #379B4A;
    border-bottom: 1px solid #379B4A;
    text-align: left;
     z-index:90;
     position: absolute;
     left: 0px;
     top: 30px;
     background-color: #f5f5f5;
}

.staffbar {
    height: 50px;
    width: 1020px;
    background-color: #81D7B5;
}
.staffbar a:link, .staffbar a:visited {
    color: #f5f5f5;
    display: inline-block;
    width: 120px;
    text-align: center;
    text-transform: capitalize;
}